   <style>
        
        h1 {
            color: blue;
        }  
        
        body {
            background-color:rgb(253, 218, 13);
        }
        
       .TextBox 1 {
        Text-Align: Left;
         }
        
        
        #Backinfo {
         color:RGB(300, 0, 0);
         }
      
        
        
        .C {
        List-style-type: square;
      {
            

        h3 {
            color: blue;
        }

 	}
        
        .info {
            font-color: purple;
        }
        
         body { 
          Text-Align: center;
        }

        </style>
